@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --primary: #000;
  --foreground: #fff;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import "tailwindcss";
@theme{
  --color-primario: #fff
}






@layer components{
  .card{
    @apply bg-white/5 p-6 rounded-xl border border-white/10
  }
}

